<h2>Create a Team and Heroes!</h2>


<form action="team" method="POST">
<p>  <input type="text" id="team[name]" name="team[name]"></p>
<p>  <input type="text" id="team[motto]" name="team[motto]"></p>
<p>  <input type="text" id="member1_name" name="team[member][]"></p>
